In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv('CACI Step Up Dataset 1.csv')
df.head()

,Customer ID,Interested in sustainable range,Gender,Age,"TikTok user, at least weekly",Prefer to eat vegan food,Occupation: Director / Managerial,Occupation: Office Worker,Occupation: Professional,Occupation: Retired,...,Has a current account with a neo challenger bank,Car shares journey to work,Interests : vegetarian products,Celebrities influence my purchase decisions,Tends to use a refillable water bottle most days,Internet: light user,Children at home : 0,Children at home : 1,Children at home : 2,Children at home : 3+
0,246,1,M,75+,0.20,1.70,0.30,0.60,1.10,91.70,...,0.10,0.30,7.40,1.80,28.50,5.50,98.80,0.90,0.30,0.00
1,364,1,F,25-34,31.40,19.50,4.70,10.80,40.20,0.00,...,6.80,9.30,31.90,16.90,67.30,0.70,38.30,27.30,24.80,9.70
2,601,0,M,25-34,31.32,21.68,3.10,8.82,26.54,0.01,...,7.37,7.03,26.90,24.89,66.56,1.22,27.52,22.79,27.62,22.07
3,725,1,M,25-34,28.20,13.40,2.10,7.30,20.60,0.00,...,3.90,11.90,18.50,15.60,64.30,1.40,15.60,39.40,33.80,11.20
4,768,0,M,35-44,15.45,22.69,9.71,9.51,43.10,0.11,...,6.56,6.98,32.44,17.95,65.71,0.71,43.99,17.92,29.20,8.89