In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df= pd.read_csv('CACI Step Up Dataset 1.csv')
df.head()

,Customer ID,Interested in sustainable range,Gender,Age,"TikTok user, at least weekly",Prefer to eat vegan food,Occupation: Director / Managerial,Occupation: Office Worker,Occupation: Professional,Occupation: Retired,...,Has a current account with a neo challenger bank,Car shares journey to work,Interests : vegetarian products,Celebrities influence my purchase decisions,Tends to use a refillable water bottle most days,Internet: light user,Children at home : 0,Children at home : 1,Children at home : 2,Children at home : 3+
0,246,1,M,75+,0.20,1.70,0.30,0.60,1.10,91.70,...,0.10,0.30,7.40,1.80,28.50,5.50,98.80,0.90,0.30,0.00
1,364,1,F,25-34,31.40,19.50,4.70,10.80,40.20,0.00,...,6.80,9.30,31.90,16.90,67.30,0.70,38.30,27.30,24.80,9.70
2,601,0,M,25-34,31.32,21.68,3.10,8.82,26.54,0.01,...,7.37,7.03,26.90,24.89,66.56,1.22,27.52,22.79,27.62,22.07
3,725,1,M,25-34,28.20,13.40,2.10,7.30,20.60,0.00,...,3.90,11.90,18.50,15.60,64.30,1.40,15.60,39.40,33.80,11.20
4,768,0,M,35-44,15.45,22.69,9.71,9.51,43.10,0.11,...,6.56,6.98,32.44,17.95,65.71,0.71,43.99,17.92,29.20,8.89

In [20]:
print(df['Age'].nunique())
print(df['Age'].value_counts())

7
29.5    1997
49.5    1914
39.5    1913
59.5    1548
21.0    1126
69.5     875
75.0     627
Name: Age, dtype: int64

In [10]:
def convert_age_range_to_average(age_range):
    if '-' in age_range:
        start, end = age_range.split('-')
        return (int(start) + int(end)) / 2
    elif age_range == '75+':
        return 75  # Assuming 75+ represents an average age of 75
    else:
        return None
    
df['Age'] = df['Age'].apply(convert_age_range_to_average)
df

,Customer ID,Interested in sustainable range,Gender,Age,"TikTok user, at least weekly",Prefer to eat vegan food,Occupation: Director / Managerial,Occupation: Office Worker,Occupation: Professional,Occupation: Retired,...,Has a current account with a neo challenger bank,Car shares journey to work,Interests : vegetarian products,Celebrities influence my purchase decisions,Tends to use a refillable water bottle most days,Internet: light user,Children at home : 0,Children at home : 1,Children at home : 2,Children at home : 3+
0,246,1,M,75.0,0.20,1.70,0.30,0.60,1.10,91.70,...,0.10,0.30,7.40,1.80,28.50,5.50,98.80,0.90,0.30,0.00
1,364,1,F,29.5,31.40,19.50,4.70,10.80,40.20,0.00,...,6.80,9.30,31.90,16.90,67.30,0.70,38.30,27.30,24.80,9.70
2,601,0,M,29.5,31.32,21.68,3.10,8.82,26.54,0.01,...,7.37,7.03,26.90,24.89,66.56,1.22,27.52,22.79,27.62,22.07
3,725,1,M,29.5,28.20,13.40,2.10,7.30,20.60,0.00,...,3.90,11.90,18.50,15.60,64.30,1.40,15.60,39.40,33.80,11.20
4,768,0,M,39.5,15.45,22.69,9.71,9.51,43.10,0.11,...,6.56,6.98,32.44,17.95,65.71,0.71,43.99,17.92,29.20,8.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,999802,1,M,29.5,38.80,26.10,3.50,8.50,30.30,0.00,...,5.10,10.40,34.30,25.80,66.60,0.90,12.60,12.20,22.20,53.10
9996,999846,0,M,29.5,19.20,12.34,5.95,3.51,16.16,0.08,...,2.70,7.77,16.27,8.92,40.96,1.82,61.20,21.80,13.55,3.45
9997,999865,0,O,75.0,1.90,4.07,7.99,1.39,11.55,68.65,...,2.70,1.62,10.35,1.89,34.63,4.51,92.00,3.99,3.11,0.90
9998,999914,0,F,21.0,4.23,5.75,1.96,2.07,6.50,2.83,...,5.07,1.22,24.34,1.13,63.22,3.36,82.37,7.63,7.04,2.96
9999,999977,0,O,69.5,1.09,2.59,1.85,3.90,6.85,70.24,...,1.02,1.08,12.18,1.41,36.90,5.74,67.13,14.52,14.97,3.38

In [11]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 52 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Customer ID                                                                    10000 non-null  int64
 1   Interested in sustainable range                                                10000 non-null  int64
 2   Gender                                                                         10000 non-null  object
 3   Age                                                                            10000 non-null  float64
 4   TikTok user, at least weekly                                                   10000 non-null  float64
 5   Prefer to eat vegan food                                                       10000 non-null  float64
 6   Occupation: Director / Managerial                                              10000 non-null  float64
 7   Occupation: Office Worker                                                      10000 non-null  float64
 8   Occupation: Professional                                                       10000 non-null  float64
 9   Occupation: Retired                                                            10000 non-null  float64
 10  Occupation: Service Sector                                                     10000 non-null  float64
 11  Occupation: Skilled / Manual Worker                                            10000 non-null  float64
 12  Occupation: Student                                                            10000 non-null  float64
 13  Occupation: Unemployed                                                         10000 non-null  float64
 14  Highest qualification achieved: GCSE or equivalent                             10000 non-null  float64
 15  Highest qualification achieved: A-level or equivalent                          10000 non-null  float64
 16  Highest qualification achieved: university degree or higher                    10000 non-null  float64
 17  Interests : antiques or fine art                                               10000 non-null  float64
 18  Interests : meditation / mindfulness                                           10000 non-null  float64
 19  Magazines read : celebrity                                                     10000 non-null  float64
 20  Has recently switched current account                                          10000 non-null  float64
 21  Internet: moderate user                                                        10000 non-null  float64
 22  Internet: frequent user                                                        10000 non-null  float64
 23  Uses Netflix, at least once a week                                             10000 non-null  float64
 24  Facebook user, at least weekly                                                 10000 non-null  float64
 25  LinkedIn user, at least weekly                                                 10000 non-null  float64
 26  Snapchat user, at least weekly                                                 10000 non-null  float64
 27  I love to buy new gadgets and appliances                                       10000 non-null  float64
 28  If an advert on the Internet looks interesting I will click on it              10000 non-null  float64
 29  Watches catch-up TV / VoD with ads at least once a week                        10000 non-null  float64
 30  Watches ITV                                                                    10000 non-null  float64
 31  Watches Channel 4                                                              10000 non-null  float64
 32  Watches Channel 5                                                              10000 non-null  float64
 33  Watches Sky 1                                                                  10000 non-null  float64
 34  Watches Sky Atlantic                                                           10000 non-null  float64
 35  Takes own re-usable cup to a coffee shop/cafe                                  10000 non-null  float64
 36  I prefer not to shop in major high street chains                               10000 non-null  float64
 37  I look for the lowest possible prices when I go shopping                       10000 non-null  float64
 38  I think more favourably of companies that sponsor events                       10000 non-null  float64
 39  I only buy products from a company whose ethics I agree with                   10000 non-null  float64
 40  Has bought something after seeing an ad on the internet in the past 12 months  10000 non-null  float64
 41  Has bought something after seeing an email ad in the past 12 months            10000 non-null  float64
 42  Has a current account with a neo challenger bank                               10000 non-null  float64
 43  Car shares journey to work                                                     10000 non-null  float64
 44  Interests : vegetarian products                                                10000 non-null  float64
 45  Celebrities influence my purchase decisions                                    10000 non-null  float64
 46  Tends to use a refillable water bottle most days                               10000 non-null  float64
 47  Internet: light user                                                           10000 non-null  float64
 48  Children at home : 0                                                           10000 non-null  float64
 49  Children at home : 1                                                           10000 non-null  float64
 50  Children at home : 2                                                           10000 non-null  float64
 51  Children at home : 3+                                                          10000 non-null  float64
dtypes: float64(49), int64(2), object(1)
memory usage: 4.0+ MB

In [25]:
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer

In [27]:
ohe = OneHotEncoder(sparse=False, drop='first')

In [36]:
transformer= ColumnTransformer(transformers=[
                        ('tnf3',OneHotEncoder(sparse_output= False, drop= 'first'),['Gender'])
                        ],remainder= 'passthrough')

In [37]:
transformer.fit_transform(df).shape

(10000, 52)

In [ ]:
import numpy as np
from sklearn.impute import SimpleImputer

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline,make_pipeline

In [ ]:
trf1= ColumnTransformer([
    ('ohe_gender', OneHotEncoder(sparse= False, handle_unknown= 'ignore'),[2])
],remainder= 'passthrough')

In [ ]:
pipe= Pipeline([
    ('trf1', trf1),
    ])

In [ ]:
pipe= make_pipeline(trf1)

In [ ]:
pipe

In [ ]:
X=pipe.fit(df)
X

In [ ]:
X= df.iloc[:-1].values
X

In [ ]:
iris